name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code from the repository
    - name: Checkout code
      uses: actions/checkout@v4

    # Step 2: Set up Node.js environment for testing
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '16'

    # Step 3: Get branch name
    - name: Get branch name
      if: startsWith(github.ref, 'refs/heads')
      run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
      id: get_branch
    
    # Step 4: Get commit id
    - name: Get commit id
      run: echo "version=$(echo `git ls-remote https://${{ secrets.MY_PAT }}@github.com/ujala-singh/ci-cd-sample-app.git ${{ steps.get_branch.outputs.branch }} | awk '{ print $1}' | cut -c1-7`)" >> $GITHUB_OUTPUT
      id: get_version

    # Step 5: Install dependencies and run unit tests
    - name: Install dependencies and run tests
      run: |
        npm install
        npm test # Runs the unit tests with Jest

    # Step 6: Build Docker image
    - name: Build Docker image
      run: |
        docker build -t frontend-app .

    # Step 7: Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Step 8: Push Docker image to Docker Hub
    - name: Push Docker image to Docker Hub
      env:
        USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: |
        docker tag frontend-app:latest $USERNAME/frontend-app:${{ steps.get_version.outputs.version }}
        docker tag frontend-app:latest $USERNAME/frontend-app:latest
        docker push $USERNAME/frontend-app:latest
